<h2>CHAT E-COMMERCE</h2>

<p id="chat"></p>

<form id="formulario">
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="ENVIAR">
</form>

<script src="chat.js"></script>
<script src="/socket.io/socket.io.js"></script>