<h2>CHAT E-COMMERCE</h2>

<div id="chat"></id>

<form id="formulario">
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="ENVIAR" id="enviar">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="chat.js"></script>