<div class="app">
<form action="/login" method="post">
    <div>
        {{#if error}}
        <p class="err-msg">El nombre de usuario o contraseña es incorrecto.</p>
        {{/if }}
        <h1>Login</h1>
    </div>
    <div class="form-group">
        <label>Usuario: </label>
        <input type="text" name="username" id="username" placeholder="Ingresar su nombre de usuario." required />
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" name="password" id="password" placeholder="Ingresar su contraseña." required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
    <br>
    <h5>No tenes una cuenta? <a href="/signup">Registrate ya</a></h5> 
    <br>
    <a href="/auth/github"><img src="https://github.com/logos" alt="" width="50">Inicia sesion con GITHUB.</a>
    </form>
</div>