<h1>Restablecer contraseña</h1>
<form action="/reset-password/{{token}}" method="POST">
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" id="password" placeholder="Ingrese su nueva contraseña" required>
    <label for="confirmPassword">Confirmar contraseña:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su nueva contraseña"
        required>
    <input type="submit" value="Cambiar contraseña">
</form>