<div class="app">
<form action="/signup" method="post">
    <h2 style="color: white; margin-bottom: 30px;">Registro:</h2>
    <div>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Registrar!</button>
</form>
</div>
