<h2>Tu compra se realizo correctamente!</h2>
<h3>El total de tu compra es de ${{totalAmount}}</h3>
<h3>Estaras recibiendo novedades en tu casilla de correo electronico de {{email}} y podes seguir tu compra con el codigo: {{code}}</h3>

<p>Muchas gracias por elegirnos!</p>
<p>Informacion de su ticket:{{ticket}}</p>

