<h3>SOCKET CLIENTE</h3>
<form id="formulario">
    Nombre: <input type="text" name="nombre" id="nombre">
    Mensage: <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="Enviar">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>